<header class="header">
    <div class="header-item-logo">
        <a href="/admin" class="header_text">Admin Panel</a>
            </div>
  
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="header_text">Home</a>
            </li>
            <li>
                <a href="/about" class="header_text">About</a>
            </li>
            <li>
                <a href="/contact" class="header_text">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header-item-button">
    <div class="header_button">
      <a href="/logout" class="header_text">
        Logout
      </a>
    </div>
</div>
  
  </header>